@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sogai';
    src: url('/fonts/sogai.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tm';
    src: url('/fonts/tm.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}